{% extends 'base.html' %}
{% block title %}
Condições
{% endblock %}
{% block content %}
<div style="background-color: #1177BC; padding: 4%;">
<div class="umContainer" style="padding: 2%;">
    <p class="titulo1">Regulamento de Campanha 25 anos MM Seguros</p>
    <p class="titulo2">1. Vigência da Campanha</p>
    <p>A Campanha “25 anos MM Seguros” terá a duração de 3 meses, iniciando a 1 de outubro e finalizando no dia 31 de dezembro
        de 2021.</p>
    <p class="titulo2">2. Elegibilidade</p>
    <p class="topico">2.1 Consideram-se elegíveis para obter benefício do prémio da presente campanha:</p>
    <p class="topico1">a) Atuais clientes* particulares que contratem uma ou mais apólices dos seguros em campanha;</p>
    <p class="topico1">b) Novos clientes* particulares que contratem uma ou mais apólices dos seguros em campanha.</p>
    <p>*Atuais clientes – Um cliente particular ativo na MM Seguros e maior de 18 anos.</p>
    <p>*Novo cliente – Um cliente particular, maior de 18 anos, que não tenha tido nenhuma apólice dos seguros campanha anteriormente, na MM Seguros</p>
    <p class="topico">2.2 Para a campanha só são contabilizados os prémios cobrados das apólices em campanha, contratadas neste período</p>
    <p class="titulo2">3. Produtos em campanha</p>
    <p class="topico">3.1 Para efeitos de adesão à campanha 25 anos MM Seguros, o cliente deverá cumprir com as condições de elegibilidade na alínea anterior descritas.</p>
    <p class="topico">3.2 Os produtos em campanha, do presente regulamento, são seguros particulares:</p>
    <p class="topico1">• Seguro de Vida Risco</p>
    <p class="topico1">• Seguro de Saúde</p>
    <p class="topico1">• Seguro Multirriscos Habitação</p>
    <p class="topico1">• Seguros de Acidentes Pessoais.</p>
    <p>Estamos ao seu dispor para qualquer esclarecimento contacte-nos geral@mmseguros.com</p>
    <p class="titulo2">4. Atribuição dos prémios – Cartões DÁ (Sonae)</p>
    <p class="topico">4.1 A Campanha consiste na atribuição de cinco cartões Dá, no valor de 25€ cada, por mês. Serão premiados os clientes que contratarem novas apólices do ramo Vida Risco, Saúde Multirriscos Habitação ou Acidentes Pessoais, com maior valor de prémios cobrados.</p>
    <p class="topico">4.2 O valor do cartão atribuído ao cliente vencedor é líquido de impostos.</p>
    <p class="topico">4.3 O cartão Dá é aceite em qualquer loja do Grupo Sonae - Lojas Continente, Worten, Worten Mobile, MO, Zippy, Sportzone, Note!, Bagga, Well’s, Go Natural, Dr. Well’s e continente online.</p>
    <p class="topico">4.4 Este cartão pode ser utilizado uma ou mais vezes, até esgotar o saldo total do cartão em compras</p>
    <p class="topico">4.5 A validade do cartão é de 12 meses. Pode consultar o saldo do cartão em qualquer caixa das lojas Sonae.</p>
    <p class="topico">4.6 Se pretender mais informações relativamente aos termos e condições de utilização do cartão Dá, poderá consultar através do seguinte <a href="https://cartoesda.com/wp-content/uploads/2020/02/20200227_SFS_TC-Cartoesda.pdf">link</a></p>
    <p class="topico">4.7 A MM Seguros não está direta ou indiretamente relacionada com o Grupo Sonae, não podendo ser responsabilizada pelo serviço da mesma. Eventuais reclamações relacionadas com o cartão Dá deverão ser dirigidas ao Grupo Sonae</p>
    <p class="titulo2">5. Garantias de Confidencialidade e Tratamento dos Dados Pessoais</p>
    <p>A MM Sociedade de Mediação de Seguros é a entidade responsável pela recolha e tratamento dos dados pessoais fornecidos pelos indivíduos que pretendam contratar uma apólice. A MM Seguros apenas irá fazer uso dos dados para efeitos da adesão da campanha nos termos deste regulamento, não os disponibilizando a nenhuma outra entidade. O preenchimento dos dados é necessário para efeitos de subscrição de seguros. Pode consultar mais detalhadamente a Política de privacidade e Proteção dos Dados Pessoais ao seguir o <a href="https://mmseguros.com/politica_de_privacidade.pdf">link</a></p>
    <p>A participação nesta campanha implica o total consentimento e aceitação das conduções descritas neste regulamento.
        Nenhuns dos valores poderá ser revertido em dinheiro.</p>
    <img src="https://res.cloudinary.com/dmcagq19i/image/upload/v1636241576/MM%20Seguros/Line3_h3jsko.png">
    <p class="sneaky">A MM Sociedade Mediadora de Seguros, Lda., está inscrita na Autoridade de Supervisão de Seguros e Fundos de Pensões como Agente de Seguros, Ramo Não Vida através do n.º 407082159/3, desde 21-07-2007, dados passiveis de confirmar em <a href="http://www.asf.com.pt">http://www.asf.com.pt</a>.| Membro Aprose com o nº 914, verificável em <a href="www.aprose.pt">www.aprose.pt</a>.| Em caso de Litigio o reclamante pode recorrer ao Centro de Informação, Mediação e Provedoria de Seguros (CIMPAS), enquanto Entidade de Resolução Alternativa de Litígios de consumo. Mais informações em <a href="www.cimpas.pt">www.cimpas.pt</a> ou no Portal do Consumidor em <a href="www.consumidor.pt">www.consumidor.pt</a></p>
</div>

</div>


{% endblock %}